plugins {
	id "java"
	id "org.springframework.boot" version "3.1.5"
    id "io.spring.dependency-management" version "1.1.3"
    id "com.gorylenko.gradle-git-properties" version "2.4.1"
}

group = "{{ .GroupID }}"
version = "{{ .AppVersion }}"

java {
	sourceCompatibility = "17"
}

configurations {
  compileOnly {
    extendsFrom annotationProcessor
  }
}

repositories {
	mavenCentral()
}

dependencies {
    implementation "org.springframework.boot:spring-boot-starter-web"
    implementation "org.springframework.boot:spring-boot-starter-validation"
    implementation "org.springframework.boot:spring-boot-starter-actuator"
    implementation "org.springframework.boot:spring-boot-starter-data-jpa"
    {{- if eq .DbType "PostgreSQL" }}
    runtimeOnly "org.postgresql:postgresql"
    {{ end -}}
    {{- if eq .DbType "MySQL" }}
    runtimeOnly "com.mysql:mysql-connector-j"
    {{ end -}}
    {{- if eq .DbType "MariaDB" }}
    runtimeOnly "org.mariadb.jdbc:mariadb-java-client"
    {{ end -}}
    {{- if eq .DbMigrationTool "Flyway"}}
    implementation "org.flywaydb:flyway-core"
    {{ if or (eq .DbType "MySQL") (eq .DbType "MariaDB") }}
    implementation "org.flywaydb:flyway-mysql"
    {{ end }}
    {{ end -}}
    {{- if eq .DbMigrationTool "Liquibase"}}
    implementation "org.liquibase:liquibase-core"
    {{ end -}}
    {{- if .SpringCloudAWSSupport }}
    implementation "io.awspring.cloud:spring-cloud-aws-starter"
    implementation "io.awspring.cloud:spring-cloud-aws-starter-s3"
    {{ end }}
    developmentOnly "org.springframework.boot:spring-boot-devtools"
    annotationProcessor "org.springframework.boot:spring-boot-configuration-processor"

    testImplementation "org.springframework.boot:spring-boot-starter-test"
    testImplementation "org.springframework.boot:spring-boot-testcontainers"
    testImplementation "org.testcontainers:junit-jupiter"
    {{- if eq .DbType "PostgreSQL" }}
    testImplementation "org.testcontainers:postgresql"
    {{ end -}}
    {{- if eq .DbType "MySQL" }}
    testImplementation "org.testcontainers:mysql"
    {{ end -}}
    {{- if eq .DbType "MariaDB" }}
    testImplementation "org.testcontainers:mariadb"
    {{ end -}}
    {{- if .SpringCloudAWSSupport }}
    testImplementation "org.testcontainers:localstack"
    {{ end }}
    testImplementation "io.rest-assured:rest-assured"
}

{{- if .SpringCloudAWSSupport }}
dependencyManagement {
    imports {
        mavenBom "io.awspring.cloud:spring-cloud-aws-dependencies:3.0.3"
    }
}
{{ end }}

tasks.named("test") {
	useJUnitPlatform()
	testLogging {
		events = ["PASSED", "FAILED", "SKIPPED"]
		showStandardStreams = true
		exceptionFormat = "full"
	}
}

gitProperties {
    failOnNoGitDirectory = false
    keys = [
            "git.branch",
            "git.commit.id.abbrev",
            "git.commit.user.name",
            "git.commit.message.full"
    ]
}