package {{ .BasePackage }}.shared;

import java.util.List;
import java.util.function.Function;
import org.springframework.data.domain.Page;

public record PagedResult<T>(
        List<T> data,
        int currentPageNo,
        int totalPages,
        long totalElements,
        boolean hasNextPage,
        boolean hasPreviousPage) {

    public static <T> PagedResult<T> from(Page<T> page) {
        return new PagedResult<>(
                page.getContent(),
                page.getNumber() + 1,
                page.getTotalPages(),
                page.getTotalElements(),
                page.hasNext(),
                page.hasPrevious());
    }

    public <R> PagedResult<R> map(Function<T, R> converter) {
        return new PagedResult<>(
                this.data.stream().map(converter).toList(),
                this.currentPageNo,
                this.totalPages,
                this.totalElements,
                this.hasNextPage,
                this.hasPreviousPage);
    }
}
