package {{ .BasePackage }};

import jakarta.validation.constraints.NotEmpty;
import org.springframework.boot.context.properties.ConfigurationProperties;
import org.springframework.boot.context.properties.bind.DefaultValue;

@ConfigurationProperties(prefix = "app")
public record ApplicationProperties(
        CorsProperties cors
        {{- if .JwtSecuritySupport }}
        ,JwtProperties jwt
        {{ end }}
        ) {
    public record CorsProperties(
        @DefaultValue("/**") String pathPattern,
        @DefaultValue("*") String allowedOrigins,
        @DefaultValue("*") String allowedMethods,
        @DefaultValue("*") String allowedHeaders) {}

{{- if .JwtSecuritySupport }}
    public record JwtProperties(
            @DefaultValue("{{ .AppName }}") String issuer,
            @DefaultValue("604800") Long expiresIn,
            @NotEmpty String secret) {}
{{ end }}

}
