package {{ .BasePackage }}.domain.repositories;

import java.util.Optional;
import org.springframework.data.jpa.repository.JpaRepository;
import {{ .BasePackage }}.domain.entities.User;

public interface UserRepository extends JpaRepository<User, Long> {
    Optional<User> findByEmailIgnoreCase(String email);
}
