package {{ .BasePackage }}.users;

import static org.assertj.core.api.Assertions.assertThat;

import {{ .BasePackage }}.BaseIT;
import org.junit.jupiter.api.Test;
import org.springframework.http.MediaType;

class LoginRestControllerTests extends BaseIT {

    @Test
    void shouldLoginSuccessfullyWithValidCredentials() {
        LoginRestController.LoginResponse response = restTestClient
                    .post()
                    .uri("/api/login")
                    .contentType(MediaType.APPLICATION_JSON)
                    .body("""
                            {
                              "email": "admin@gmail.com",
                              "password": "admin"
                            }
                            """)
                    .exchange()
                    .expectStatus()
                    .isOk()
                    .returnResult(LoginRestController.LoginResponse.class)
                    .getResponseBody();

        assertThat(response).isNotNull();
        assertThat(response.token()).isNotBlank();
        assertThat(response.email()).isEqualTo("admin@gmail.com");
        assertThat(response.name()).isEqualTo("Administrator");
    }
}
