package {{ .BasePackage }}.users;

import {{ .BasePackage }}.shared.BaseEntity;

public class UserEntity extends BaseEntity {
    private Long id;
    private String name;
    private String email;
    private String password;
    private Role role;

    public Long getId() { return id; }
    public void setId(Long id) { this.id = id; }
    public String getName() { return name; }
    public void setName(String name) { this.name = name; }
    public String getEmail() { return email; }
    public void setEmail(String email) { this.email = email; }
    public String getPassword() { return password; }
    public void setPassword(String password) { this.password = password; }
    public Role getRole() { return role; }
    public void setRole(Role role) { this.role = role; }
}
