package {{ .BasePackage }};

public class Main {

    public static void main(String[] args) {
        App app = new App();
        String echo = app.echo("Hello");
        System.out.println(echo);
    }
}