plugins {
	id 'java'
}

group = "{{ .GroupID }}"
version = "{{ .AppVersion }}"

java {
  toolchain {
    languageVersion = JavaLanguageVersion.of(21)
  }
}

repositories {
	mavenCentral()
}

ext {
    set("junitVersion", "5.11.3")
    set("assertjVersion", "3.26.3")
}

dependencies {
    testImplementation(platform("org.junit:junit-bom:${junitVersion}"))
    testImplementation "org.junit.jupiter:junit-jupiter"
	testImplementation "org.assertj:assertj-core:${assertjVersion}"
}

tasks.named('test') {
	useJUnitPlatform()
	testLogging {
		events = ["PASSED", "FAILED", "SKIPPED"]
		showStandardStreams = true
		exceptionFormat = "full"
	}
}
