services:
  {{- if eq .DbType "PostgreSQL" }}
  postgres:
    image: {{ .PostgresImage }}
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
  {{- end }}
  {{- if eq .DbType "MySQL" }}
  mysql:
    image: {{ .MysqlImage }}
    environment:
      - MYSQL_DATABASE=test
      - MYSQL_USER=user
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=admin
    ports:
      - "3306:3306"
  {{- end }}
  {{- if eq .DbType "MariaDB" }}
  mariadb:
    image: {{ .MariadbImage }}
    environment:
      - MYSQL_DATABASE=test
      - MYSQL_USER=user
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=admin
    ports:
      - "3306:3306"
  {{- end }}
  {{ if .SpringCloudAWSSupport }}
  floci:
    image: {{ .FlociImage }}
    ports:
      - "4566:4566"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./src/test/resources/floci-init/ready.d:/etc/floci/init/ready.d:ro
    environment:
      AWS_DEFAULT_REGION: us-east-1
  {{- end }}

  {{- if .EmailSupport }}
  mailpit:
    image: {{ .MailpitImage }}
    ports:
      - "1025:1025"
      - "8025:8025"
  {{- end }}

  {{- if .RabbitMQSupport }}
  rabbitmq:
    image: {{ .RabbitMQImage }}
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
  {{- end }}

  {{- if .RedisCachingSupport }}
  redis:
    image: {{ .RedisImage }}
    ports:
      - "6379:6379"
  {{- end }}

  {{- if .OpenTelemetrySupport }}
  grafana-lgtm:
    image: {{ .GrafanaLgtmImage }}
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
  {{ end }}

  {{ .ArtifactID }}:
    image: your_dockerhub_username/{{ .ArtifactID }}
    container_name: {{ .ArtifactID }}
    environment:
      SPRING_PROFILES_ACTIVE: docker
      {{- if eq .DbType "PostgreSQL" }}
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      {{- end }}
      {{- if eq .DbType "MySQL" }}
      SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/test
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: secret
      {{- end }}
      {{- if eq .DbType "MariaDB" }}
      SPRING_DATASOURCE_URL: jdbc:mariadb://localhost:3306/test
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: secret
      {{- end }}
      {{- if .EmailSupport }}
      EMAIL_HOST: mailpit
      EMAIL_PORT: 1025
      {{- end }}
      {{- if .SpringCloudAWSSupport }}
      SPRING_CLOUD_AWS_ENDPOINT: http://localhost:4566
      SPRING_CLOUD_AWS_S3_ENDPOINT: http://localhost:4566
      SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY: test
      SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY: test
      {{- end }}
      {{- if .RabbitMQSupport }}
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      {{- end }}
      {{- if .RedisCachingSupport }}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      {{- end }}
      {{- if .OpenTelemetrySupport }}
      TRACING_ENABLED: true
      METRICS_EXPORT_URL: http://grafana-lgtm:4318/v1/metrics
      TRACES_EXPORT_URL: http://grafana-lgtm:4318/v1/traces
      LOGS_EXPORT_URL: http://grafana-lgtm:4318/v1/logs
      {{- end }}
    ports:
      - "8080:8080"
    depends_on:
      {{- if eq .DbType "PostgreSQL" }}
      - postgres
      {{- end }}
      {{- if eq .DbType "MySQL" }}
      - mysql
      {{- end }}
      {{- if eq .DbType "MariaDB" }}
      - mariadb
      {{- end }}
      {{- if .EmailSupport }}
      - mailpit
      {{- end }}
      {{- if .SpringCloudAWSSupport }}
      - floci
      {{- end }}
      {{- if .RabbitMQSupport }}
      - rabbitmq
      {{- end }}
      {{- if .RedisCachingSupport }}
      - redis
      {{- end }}
      {{- if .OpenTelemetrySupport }}
      - grafana-lgtm
      {{- end }}
    restart: unless-stopped
    profiles:
      - app
