name: Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          {{- if eq .BuildTool "Maven" }}
          cache: 'maven'
          {{ end -}}
          {{- if eq .BuildTool "Gradle" }}
          cache: 'gradle'
          {{ end -}}

     {{- if eq .BuildTool "Maven" }}
      - name: Make Maven wrapper executable
        run: chmod +x mvnw
     {{ end -}}
     {{- if eq .BuildTool "Gradle" }}
      - name: Make Gradle wrapper executable
        run: chmod +x gradlew
     {{ end -}}

     {{- if eq .BuildTool "Maven" }}
      - name: Build with Maven
        run: ./mvnw -ntp verify
     {{ end -}}
     {{- if eq .BuildTool "Gradle" }}
      - name: Build with Gradle
        run: ./gradlew build
     {{ end -}}
