apiVersion: v1
kind: Service
metadata:
  name: {{ .ArtifactID }}-svc
spec:
  type: NodePort
  selector:
    app: {{ .ArtifactID }}-pod
  ports:
    - name: app-port-mapping
      protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .ArtifactID }}-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .ArtifactID }}-pod
  template:
    metadata:
      labels:
        app: {{ .ArtifactID }}-pod
    spec:
      containers:
        - name: {{ .ArtifactID }}
          image: your_dockerhub_username/{{ .ArtifactID }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: kubernetes
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: db_jdbc_url
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .ArtifactID }}-secrets
                  key: db_username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .ArtifactID }}-secrets
                  key: db_password
{{- if .EmailSupport }}
            - name: EMAIL_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: email_host
            - name: EMAIL_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: email_port
{{- end }}
{{- if .RedisCachingSupport }}
            - name: SPRING_DATA_REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: redis_host
            - name: SPRING_DATA_REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: redis_port
{{- end }}
{{- if .RabbitMQSupport }}
            - name: SPRING_RABBITMQ_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: rabbitmq_host
            - name: SPRING_RABBITMQ_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: rabbitmq_port
{{- end }}
{{- if .OpenTelemetrySupport }}
            - name: TRACING_ENABLED
              value: "true"
            - name: METRICS_EXPORT_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: metrics_export_url
            - name: TRACES_EXPORT_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: traces_export_url
            - name: LOGS_EXPORT_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .ArtifactID }}-configmap
                  key: logs_export_url
{{- end }}
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            timeoutSeconds: 240
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 60
            timeoutSeconds: 240
          lifecycle:
            preStop:
              exec:
                command: [ "sh", "-c", "sleep 10" ]
