apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .ArtifactID }}-ingress
spec:
  rules:
    - http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: {{ .ArtifactID }}-svc
                port:
                  number: 8080
