apiVersion: v1
kind: Service
metadata:
  name: {{ .ArtifactID }}-redis-svc
spec:
  selector:
    app: {{ .ArtifactID }}-redis-pod
  ports:
    - port: 6379
      targetPort: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .ArtifactID }}-redis-deployment
spec:
  selector:
    matchLabels:
      app: {{ .ArtifactID }}-redis-pod
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ .ArtifactID }}-redis-pod
    spec:
      containers:
        - name: redis
          image: "{{ .RedisImage }}"
          ports:
            - name: redis
              containerPort: 6379
