spring.application.name={{ .ArtifactID }}
spring.docker.compose.lifecycle-management=start_only

#### App ####
{{- if eq .AppType "REST API" }}
app.cors.path-pattern=/api/**
app.cors.allowed-origins=*
app.cors.allowed-methods=*
app.cors.allowed-headers=*
app.openapi.title={{ .ArtifactID }} API
app.openapi.description={{ .ArtifactID }} API Swagger Documentation
app.openapi.version=v1.0.0
app.openapi.contact.name=CompanyName
app.openapi.contact.email=support@company.com
app.jwt.issuer={{ .AppName }}
app.jwt.expires-in=604800
app.jwt.secret=secretsecretsecret12345678901234567890
{{- end }}

#### Spring MVC ####
server.compression.enabled=true
server.http2.enabled=true
spring.threads.virtual.enabled=true

{{- if eq .AppType "REST API" }}
#### API Versioning ####
spring.mvc.apiversion.default=1.0
spring.mvc.apiversion.use.header=API_VERSION
spring.mvc.apiversion.supported=1.0
{{- end }}

{{- if eq .AppType "REST API" }}
#### Springdoc ####
springdoc.swagger-ui.enabled=false
springdoc.paths-to-match=/api/**
{{- end }}

###### Logging ######
logging.level.root=INFO
logging.level.{{ .BasePackage }}=DEBUG
logging.pattern.correlation=[${spring.application.name:},%X{traceId:-},%X{spanId:-}]
logging.include-application-name=false
#logging.level.org.springframework.security=DEBUG


#### Actuator ####
management.endpoints.web.exposure.include=configprops,env,health,info,logfile,loggers
management.endpoint.health.show-details=when_authorized

#### Database ####
spring.datasource.hikari.auto-commit=false
{{- if eq .PersistenceType "Spring Data JPA" }}
spring.jpa.show-sql=true
spring.jpa.open-in-view=false
spring.data.jpa.repositories.bootstrap-mode=deferred
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.jdbc.time_zone=UTC
spring.jpa.properties.hibernate.id.new_generator_mappings=true
spring.jpa.properties.hibernate.id.optimizer.pooled.preferred=pooled-lo
spring.jpa.properties.hibernate.generate_statistics=false
spring.jpa.properties.hibernate.jdbc.batch_size=25
spring.jpa.properties.hibernate.order_inserts=true
spring.jpa.properties.hibernate.order_updates=true
spring.jpa.properties.hibernate.query.fail_on_pagination_over_collection_fetch=true
spring.jpa.properties.hibernate.query.in_clause_parameter_padding=true
spring.jpa.properties.hibernate.connection.provider_disables_autocommit=true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
{{- end }}

{{- if eq .DbMigrationTool "Flyway"}}
spring.flyway.locations=classpath:/db/migration
{{- end }}
{{- if eq .DbMigrationTool "Liquibase"}}
spring.liquibase.change-log=classpath:/db/migration/liquibase-changelog.xml
{{ end }}

#### Spring Modulith ####
spring.modulith.events.jdbc.schema-initialization.enabled=true
spring.modulith.events.completion-mode=update
spring.modulith.events.republish-outstanding-events-on-restart=true

{{ if .EmailSupport }}
#### Email ####
spring.mail.host=${EMAIL_HOST:127.0.0.1}
spring.mail.port=${EMAIL_PORT:1025}
spring.mail.protocol=smtp
spring.mail.username=${EMAIL_USERNAME:}
spring.mail.password=${EMAIL_PASSWORD:}
spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=3000
spring.mail.properties.mail.smtp.writetimeout=5000
{{ end }}

#### BootUI ####
bootui.enabled=off
bootui.mcp.enabled=off
