spring.main.lazy-initialization=true

management.endpoints.web.exposure.include=*
management.endpoint.health.show-details=always

spring.jpa.properties.hibernate.generate_statistics=true
spring.jpa.properties.hibernate.log_slow_query=1000

bootui.enabled=on
bootui.mcp.enabled=on

{{- if eq .AppType "REST API" }}
springdoc.swagger-ui.enabled=true
{{- end }}

{{- if .SpringCloudAWSSupport }}
spring.cloud.aws.endpoint=http://localhost:4566
spring.cloud.aws.credentials.access-key=test
spring.cloud.aws.credentials.secret-key=test
{{- end }}
