package {{ .BasePackage }};

import static org.springframework.boot.test.context.SpringBootTest.WebEnvironment.RANDOM_PORT;
{{- if eq .AppType "REST API" }}
import io.restassured.RestAssured;
{{ end }}
import org.junit.jupiter.api.BeforeEach;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.boot.test.web.server.LocalServerPort;
import org.springframework.context.annotation.Import;
{{- if .SpringCloudAWSSupport }}
import org.springframework.test.context.TestPropertySource;
{{ end }}
@SpringBootTest(webEnvironment = RANDOM_PORT)
@Import(TestcontainersConfig.class)
{{- if .SpringCloudAWSSupport }}
@TestPropertySource(properties = {
    "spring.cloud.aws.region.static=us-east-1"
})
{{ end }}
public abstract class BaseIntegrationTest {
{{- if eq .AppType "REST API" }}
    @LocalServerPort
    int port;

    @BeforeEach
    void setUpBase() {
        RestAssured.port = port;
    }
{{ end }}
}
