package {{ .BasePackage }};

import static org.testcontainers.utility.DockerImageName.parse;

import org.springframework.boot.test.context.TestConfiguration;
import org.springframework.boot.testcontainers.service.connection.ServiceConnection;
import org.springframework.context.annotation.Bean;
{{- if eq .DbType "PostgreSQL" }}
import org.testcontainers.containers.PostgreSQLContainer;
{{- end }}
{{- if eq .DbType "MySQL" }}
import org.testcontainers.containers.MySQLContainer;
{{- end }}
{{- if eq .DbType "MariaDB" }}
import org.testcontainers.containers.MariaDBContainer;
{{ end }}
{{- if .SpringCloudAWSSupport }}
import org.testcontainers.containers.localstack.LocalStackContainer;
{{ end }}
@TestConfiguration(proxyBeanMethods = false)
public class TestcontainersConfig {

{{- if eq .DbType "PostgreSQL" }}
    @Bean
    @ServiceConnection
    PostgreSQLContainer<?> postgres() {
        return new PostgreSQLContainer<>(parse("postgres:17-alpine"));
    }
{{- end }}
{{- if eq .DbType "MySQL" }}
    @Bean
    @ServiceConnection
    MySQLContainer<?> mysql() {
        return new MySQLContainer<>(parse("mysql:8.1.0"));
    }
{{- end }}
{{- if eq .DbType "MariaDB" }}
    @Bean
    @ServiceConnection
    MariaDBContainer<?> mariadb() {
        return new MariaDBContainer<>(parse("mariadb:11.0.3"));
    }
{{- end }}
{{- if .SpringCloudAWSSupport }}
    @Bean
    @ServiceConnection
    LocalStackContainer localstackContainer() {
        return new LocalStackContainer(parse("localstack/localstack:4.0.3"));
    }
{{ end }}
}
