package {{ .BasePackage }};

import org.springframework.boot.SpringApplication;

public class TestApplication {

    public static void main(String[] args) {
        {{- if .SpringCloudAWSSupport }}
        System.setProperty("spring.cloud.aws.region.static", "us-east-1");
        {{ end }}
        SpringApplication.from(Application::main)
                .with(ContainersConfig.class)
                .run(args);
    }
}
