package {{ .BasePackage }};

import static org.springframework.boot.test.context.SpringBootTest.WebEnvironment.RANDOM_PORT;
{{- if eq .AppType "Web App" }}
import org.springframework.test.web.servlet.assertj.MockMvcTester;
import org.springframework.boot.webmvc.test.autoconfigure.AutoConfigureMockMvc;
{{ end }}
{{- if .RestApiEnabled }}
import org.springframework.boot.resttestclient.autoconfigure.AutoConfigureRestTestClient;
import org.springframework.test.web.servlet.client.RestTestClient;
import org.springframework.http.MediaType;
{{ end }}
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.context.annotation.Import;
import org.springframework.test.context.ActiveProfiles;

@SpringBootTest(webEnvironment = RANDOM_PORT)
@Import(TestcontainersConfig.class)
@ActiveProfiles("test")
{{- if eq .AppType "Web App" }}
@AutoConfigureMockMvc
{{ end }}
{{- if .RestApiEnabled }}
@AutoConfigureRestTestClient
{{ end }}
public abstract class BaseIT {

{{- if eq .AppType "Web App" }}
    @Autowired
    protected MockMvcTester mvc;
{{ end }}

{{- if .RestApiEnabled }}
    @Autowired
    protected RestTestClient restTestClient;

    protected String getAuthToken(String email, String password) {
        record LoginResponse(String accessToken, String name, String email, String role) {}

        LoginResponse response = restTestClient
                            .post()
                            .uri("/api/auth/login")
                            .contentType(MediaType.APPLICATION_JSON)
                            .body("""
                                    {
                                        "email":"%s",
                                        "password":"%s"
                                    }
                                    """.formatted(email, password))
                            .exchange()
                            .expectStatus()
                            .isOk()
                            .returnResult(LoginResponse.class)
                            .getResponseBody();
        return response.accessToken();
    }
{{ end }}

}
