package {{ .BasePackage }};

import org.junit.jupiter.api.Test;
import org.springframework.modulith.core.ApplicationModules;
import org.springframework.modulith.docs.Documenter;

class ModularityTests {
    private final ApplicationModules modules = ApplicationModules.of(Application.class);

    @Test
    void verifyModuleStructure() {
        modules.verify();
    }

    @Test
    void shouldCreateModuleDocumentation() {
        new Documenter(modules).writeDocumentation();
    }
}
