package {{ .BasePackage }};

import io.awspring.cloud.s3.S3Template;
import org.junit.jupiter.api.Test;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.test.context.SpringBootTest;
import org.springframework.context.annotation.Import;

import java.io.ByteArrayInputStream;
import java.nio.charset.StandardCharsets;
import java.time.Duration;
import java.util.UUID;

import static java.nio.charset.StandardCharsets.UTF_8;
import static org.assertj.core.api.Assertions.assertThat;
import static org.awaitility.Awaitility.await;

@SpringBootTest
@Import(TestcontainersConfig.class)
class SpringCloudAwsConfigTest {

    @Autowired
    S3Template s3Template;

    String bucketName = "testbucket";

    @Test
    void shouldUploadAndDownloadFromS3() {
        if(!s3Template.bucketExists(bucketName)) {
            s3Template.createBucket(bucketName);
        }
        String key = UUID.randomUUID().toString();
        String content = "content-"+key;
        var stream = new ByteArrayInputStream(content.getBytes(UTF_8));
        s3Template.upload(bucketName, key, stream);

        await()
            .pollInterval(Duration.ofSeconds(2))
            .atMost(Duration.ofSeconds(10))
            .ignoreExceptions()
            .untilAsserted(() -> {
                String body = s3Template.download(bucketName, key)
                        .getContentAsString(UTF_8);
                assertThat(body).isEqualTo("content-"+key);
            });
    }
}
