package {{ .BasePackage }};

import org.springframework.boot.SpringApplication;

public class TestApplication {

    public static void main(String[] args) {
        {{- if .SpringCloudAWSSupport }}
        System.setProperty("spring.cloud.aws.region.static", "us-east-1");
        {{- end }}
        {{- if .DockerComposeSupport }}
        System.setProperty("spring.docker.compose.enabled", "false");
        {{- end }}
        SpringApplication.from(Application::main)
                .with(TestcontainersConfig.class)
                .run(args);
    }
}
