name: Build
on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: ['1.21']
        #os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

#      - name: Setup docker (missing on MacOS)
#        if: runner.os == 'macos'
#        run: |
#          brew install docker
#          colima start
#          # For testcontainers to find the Colima socket
#          # https://github.com/abiosoft/colima/blob/main/docs/FAQ.md#cannot-connect-to-the-docker-daemon-at-unixvarrundockersock-is-the-docker-daemon-running
#          sudo ln -sf $HOME/.colima/default/docker.sock /var/run/docker.sock

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Print SDK Versions
        run: |
          java -version
          go version
          docker version
      - name: Test
        run: go test -v -short ./...

      - name: Build
        run: go build -v .

  dev-releases-matrix:
    name: Release Go Binary
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.21']
        goos: [ linux, windows, darwin ]
        goarch: [ amd64, arm64 ]
        exclude:
          - goarch: arm64
            goos: windows
    steps:
      - uses: actions/checkout@v4
      - uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          release_name: dev
          overwrite: true
          extra_files: LICENSE README.md
