package {{ .BasePackage }}.web;

import static org.assertj.core.api.Assertions.assertThat;

import {{ .BasePackage }}.BaseIntegrationTest;
import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Test;
import org.springframework.test.web.servlet.assertj.MvcTestResult;

class LoginRestControllerTests extends BaseIntegrationTest {

    @Test
    @DisplayName("Given valid credentials, user should be able to login successfully")
    void shouldLoginSuccessfully() {
        MvcTestResult testResult = mvc.post()
                .uri("/api/login")
                .contentType("application/json")
                .content(
                        """
                        {
                          "email": "admin@gmail.com",
                          "password": "admin"
                        }
                        """)
                .exchange();
        assertThat(testResult)
                .hasStatusOk()
                .bodyJson()
                .convertTo(LoginRestController.LoginResponse.class)
                .satisfies(response -> {
                    assertThat(response).isNotNull();
                    assertThat(response.token()).isNotBlank();
                    assertThat(response.email()).isEqualTo("admin@gmail.com");
                    assertThat(response.name()).isEqualTo("Administrator");
                });

    }
}
